html, body 
{ 
    height: 100%; 
    overflow:hidden;
    margin-top: -8px;
} 

#divHeader
{
    height: 100px;
    background: #626977;
    text-align:center;
}

#divContent
{
    min-height: 100%; 
    height: auto !important;
    height: 100%; 
    margin: 0 auto -100px;
    vertical-align:bottom;
    background: #94AAD4;
}

#divFooter, #divPush
{
    height: 100px; 
    background: #626977;
}

#divMenu
{
    height: 100%;
    width: 20%;
    background: #6A6E66;
    float:left;
}

#divContentRight
{
    width: 50%;
    height: 100%;
    float: right;
    text-align: center;
}

a
{
    text-decoration: none;
    color: #0000CC;
    font-size: large;
}

p
{
    font-weight: bold;
}

.menuItem
{
    padding-top:20px;
    text-align:center;
}

ul
{
    list-style-type: none;
}



#banner-fade,
#banner-slide
{
    margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a
{
    display: block;
    padding: 10px;
    background: #626977;
    color: #0000CC;
    text-decoration: none;
}

    ul.bjqs-controls.v-centered li a:hover
    {
        background: rgba(0,0,205,0.5);
        color: #fff;
    }

ol.bjqs-markers li a
{
    padding: 5px 10px;
    background: rgba(0,0,205,0.5);
    color: #fff;
    margin: 5px;
    text-decoration: none;
}

    ol.bjqs-markers li.active-marker a,
    ol.bjqs-markers li a:hover
    {
        background: #999;
    }

p.bjqs-caption
{
    background: rgba(0,0,205,0.5);
}
