<!DOCTYPE root[<!ELEMENT PhotoGallery ANY>
<!ATTLIST PhotoGallery id ID #REQUIRED>
 
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-21T14:34:40" updateDate="2015-01-21T14:34:40" nodeName="Home" urlName="home" path="-1,1068" isDoc="" nodeType="1056" creatorName="Alexandru Pupsa" writerName="Alexandru Pupsa" writerID="0" template="1051" nodeTypeAlias="umbHomePage">
    <facebookLink><![CDATA[http://facebook.com/Umbraco]]></facebookLink>
    <twitterLink><![CDATA[http://twitter.com/UmbracoProject]]></twitterLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/umbracoblog]]></rssLink>
    <googleLink><![CDATA[https://google.com/+Umbraco]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerHeader><![CDATA[This is some text that needs to pop]]></bannerHeader>
    <bannerSubheader><![CDATA[It will lead to a call-to-action, just click the button...]]></bannerSubheader>
    <bannerLinkText><![CDATA[You know you want to click me]]></bannerLinkText>
    <bannerLink>1054</bannerLink>
    <bannerBackgroundImage><![CDATA[/media/SampleImages/1008/banner.jpg]]></bannerBackgroundImage>
    <aboutTitle><![CDATA[What's this about?]]></aboutTitle>
    <aboutText><![CDATA[<p>This is <a href="http://html5up.net/txt/">TXT</a>, a free site template designed by <a href="http://n33.co">n33</a> for <a href="http://html5up.net/">HTML5 UP</a>. It's built on the <a href="http://skeljs.org">skelJS</a> framework, uses well-thought out HTML5 and CSS3, and is fully responsive making it a great starting point for your own projects. And, like everything else we make, it's also free to use for pretty much any personal or commercial work under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license, so go ahead and use it – just don't forget to credit us!</p>]]></aboutText>
    <siteName><![CDATA[Umbraco Txt]]></siteName>
    <byline><![CDATA[A responsive starter kit for Umbraco]]></byline>
    <copyright><![CDATA[Umbraco]]></copyright>
    <PhotoGallery id="1090" parentID="1068" level="2" creatorID="0" sortOrder="1" createDate="2015-01-22T16:17:57" updateDate="2015-01-23T13:09:09" nodeName="Photo Gallery Blue" urlName="photo-gallery-blue" path="-1,1068,1090" isDoc="" nodeType="1079" creatorName="Alexandru Pupsa" writerName="Alexandru Pupsa" writerID="0" template="1086" nodeTypeAlias="PhotoGallery">
      <photoPicker><![CDATA[1087,1088,1089]]></photoPicker>
      <menuItems><![CDATA[Home,Photo Gallery,Contact,About]]></menuItems>
    </PhotoGallery>
    <PhotoGallery id="1080" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2015-01-21T15:39:55" updateDate="2015-01-23T12:13:09" nodeName="Photo Gallery" urlName="photo-gallery" path="-1,1068,1080" isDoc="" nodeType="1079" creatorName="Alexandru Pupsa" writerName="Alexandru Pupsa" writerID="0" template="1081" nodeTypeAlias="PhotoGallery">
      <photoPicker><![CDATA[1082,1083,1084]]></photoPicker>
      <photoGalleryTitle><![CDATA[Photo Gallery Green]]></photoGalleryTitle>
      <menuItems><![CDATA[Home,Photo Gallery,Contact,About]]></menuItems>
    </PhotoGallery>
  </umbHomePage>
</root>